name: CI

on:
  push:
    branches:
      - main
      - '**'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test coverage-badge-py
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Show event payload
        run: echo "${{ toJSON(github.event) }}"
#       - name: Run coverage-badge-py
#         uses: ./
# TODO: Add test.
